# --- System config/cache ---
# IDE
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# OS
*.DS_Store

# --- Environment ---
# virtualenv
.venv
venv/
ENV/
ENV.yml
ENV.txt
requirements_conda.txt
requirements_pip.txt

# --- Keys/Settings ---
# dotenv
.env
_settings.py

# --- Ignorables ---
# Archived files/folders (irrespective of subdirectory/basename)
**/archive/
*_archive
_setup.cfg

# --- Dev artifacts ---
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# pyenv
.python-version

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# --- Testing ---
# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyBuilder
target/

# --- Docs/Typing ---
# mkdocs documentation
/site

# mypy
.mypy_cache/

# --- Other ----
# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# celery beat schedule file
celerybeat-schedule

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject