# Controlling files in the distribution. Reference:
# https://setuptools.pypa.io/en/latest/userguide/miscellaneous.html


# Include select root files
include README.rst
include MANIFEST.in

# Include all Python source files
recursive-include . *.py

# Exclude directories named 'tests' and 'data'
recursive-exclude . tests
recursive-exclude . data

# Exclude specific files and directories
exclude _examples.py
exclude _media_scrape.py