# Required
requests==2.31.0
pandas==2.2.2
pydantic==2.7.0
bs4==0.0.2
# pycurl==7.45.3 --global-option="--with-openssl==8.4.0"
# pycurl==7.45.3
# Build
setuptools==69.5.1
wheel==0.43.0
# Dev
mypy==1.9.0
typing_extensions==4.11.0
pandas-stubs==2.2.1.240316
pytest==8.1.1
pytest-benchmark==4.0.0
flake8==7.0.0
python-dotenv==1.0.1
# Optional
# python-dotenv==1.0.1
jsonschema==4.21.1
wptools==0.4.17
cinemagoer==2023.5.1
spotipy==2.23.0
scipy==1.13.0
matplotlib==3.8.3
seaborn==0.13.2
